.container{
    background-color: #4CB5AE;
    padding:24px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:24px;
    
}
.container h1{
    color:white;
}
.container a{
    padding-left: 12px;
    color: white;
    text-decoration: none;
}