.card{
  background-color: white;
  border-radius: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  width:80%;
  flex-direction: column;
  margin:12px;
}

.card_header{
  background-color: white;
  padding:18px 25px;
  margin-bottom: 12px;
  border-radius: 25px 25px 0px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.wrapper_vertical{
  display: flex;
  flex-direction: column;
}
.wrapper_horizontal{
  display: flex;
  flex-direction: row;
}
.fab{
  position: fixed;
  bottom: 24px;
  right: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  border:none;
  background-color: #4CB5AE;
  padding: 32px;
  border-radius: 50px;
}
.width_30{
width:30%;
}
.width_40{
  width:40%;
  }
.width_50{
  width:50%;
  }
  .width_60{
    width:60%;
  
  }
.width_70{
    width:70%;
}
.width_100{
  width:100%;

}
